body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #2d6a4f;

    & .nav-container {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        position: relative;
        bottom: 20px;
        gap: 20px;
        height: fit-content;
        align-self: flex-start;
        width: 100%;
        background-color: #eaf0eb;
    
        
        & .title-container {
            display: flex;
            align-items: center;  
            margin-left: 30px;
            & h2 {
                font-size: 35px;
                font-weight: bolder;
            }
        }
    
        & .info-container {
            display: flex;
            align-items: center;
            & h5 {
                font-size: 35px;
                font-weight: lighter;
            }
        }
    }
    
    & .lang-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        height: 40%;

        & textarea {
            width: 80%;
            height: 80%;
            font-family: 'Inter', sans-serif;
            font-size: larger;
            background-color: #eaf0eb;
            border-radius: 20px;
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            resize: none;
        }
    }
    
   
    
    #clearButton {
        width: 60%;
        height: 40px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 50px;
        border: none;
        background-color: #eaf0eb;
        border-radius: 20px;
    
        &:hover {
            cursor: pointer;
            background-color: #eaf0eb;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
}

